@import "wars";

.baner {
  position: relative;

  height: 500px;
  &-bg {
    position: absolute;
    width: 100%;
    &_img {
      width: 100%;
    }
  }
}
.baner__container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.baner__content {
  max-width: 1400px;
  height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.baner__h2-title {
  margin: 0;
  font-size: 3.5rem;
  line-height: 4.18rem;
  text-align: center;

  color: #ffffff;
}
.baner__border {
  width: 120px;
  height: 2px;
  margin: 1rem 0;
  border-bottom: 2px solid #ffffff;
}
.baner__h2-advant {
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75rem;
  text-align: center;

  color: #ffffff;
}
.baner__btn {
  border: none;
  background-color: $colorBlue;
  padding: 0.75rem 1.375rem;

  font-size: 1rem;
  line-height: 1.18rem;
  text-align: center;

  color: #ffffff;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 0.8;
  }
}

//media screen

@media (max-width: 768px) {
  .baner {
    height: 250px;
  }
  .baner-bg {
    height: 250px;
    overflow: hidden;
  }
  .baner-bg_img {
    width: auto;
    height: 250px;
  }
  .baner__content {
    height: 250px;
  }
  .baner__h2-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .baner__h2-advant {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.75rem;
  }
}
